.App {
  text-align: center;
  background-color: #282c34;
  /* Додаємо темний фон для всього додатку */
  min-height: 100vh;
  /* Гарантуємо, що фон займає весь екран */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* Змінюємо фон на темний */
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.connect-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.connect-button:hover {
  background-color: #0056b3;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.product-card {
  background-color: #282c34;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.product-card p {
  margin-bottom: 20px;
}

.buy-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #218838;
}

.buy-button:disabled {
  background-color: #5a5f66;
  cursor: not-allowed;
}